.jekyll-metadata
.asset-cache

node_modules/
_site
_src/*
_data/components/*.yml
_assets/js/module-directives.js
_buildAPI/BuildAPI/obj*
_buildAPI/BuildAPI/src*
_buildAPI/BuildAPI/log.txt
_buildAPI/packages/*

/controls/
/styling-and-appearance/
/api/
/articles/
/common/
/getting-started/
/distribution-and-licensing/
/integration/
/upgrade/
/troubleshooting/
/images/
/xamlflix-step-by-step-guide/
/licensing/
/developer-focused-examples/
/common-information/
/cloud-integration/
/assembly-minifier/

.tmp
npm/*

cacert.pem

/*.log
/*.svg

bin/
.bundle
.vscode
