.jekyll-metadata
.asset-cache

node_modules/
_site
_src/*
_data/components/*.yml
_assets/js/module-directives.js

controls/
styling-and-appearance/
common/
getting-started/
distribution-and-licensing/

.tmp
npm/*

cacert.pem

/*.log
/*.md
/*.svg

bin/
.bundle
.vscode

