<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="turbolinks-root" content="{{site.baseurl}}/">
  <title>{% if page.title_prefix %}{{ page.title_prefix }} | {% endif %}{{ page.page_title | default: page.title }}{% if site.use_product_in_title != false %} | {{ site.product }} {% endif %}</title>
  <meta name="description" content="{{ page.description | parse_front_matter }}" />
  {% if page.res_type %}<meta name="restype" content="{{ page.res_type }}">{% else %}<meta name="restype" content="documentation">{% endif %}
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico"/>
  <link rel="preconnect" href="https://www.google-analytics.com" />
  <link rel="preconnect" href="https://www.googletagmanager.com" />
  <link rel="dns-prefetch" href="https://www.google-analytics.com" />
  <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
  {% if site.main_theme %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/bundle-{{site.main_theme}}.css?{{randomNumber}}">{% else %}
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/bundle.css?{{randomNumber}}">{% endif %}
  {% if site.enable_dojo == true %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/dojo.css?{{randomNumber}}">{% endif %}
  {% if page.kind == "api" %} 
  {% if site.has_web_api == true or site.has_web_api_index == true %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/api.css?{{randomNumber}}">{% endif %}
  {% if page.has_api_toc == true %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/api-toc.css?{{randomNumber}}">{% endif %}
  {% endif %}
  {% if site.platforms.size > 0 %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/platform_styles.css?{{randomNumber}}"> {% endif %}
</head>
