<div id="announcement-banner" style="display: none">
  <div id="announcement-content" data-url="{%if page.announcementUrl%}{{page.announcementUrl}}{%else%}https://docs.telerik.com/kendo-api/announcements{{site.baseurl}}{%endif%}">
  </div>
  <div class="close-button-container">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 27.23 26.588">
      <g fill="none" stroke="rgba(0,0,0,0.5)" stroke-linecap="round" stroke-width="2">
        <path d="M1.414 1.414l23.759 23.759M25.815 1.414L2.056 25.173"></path>
      </g>
    </svg>
  </div>
</div>
{% if page.announcement %}
<script id="announcement-fallback" type="text/fallback-announcement">
  <style>.Ribbon { z-index: 50000; position: relative; padding: 20px 2% 18px; text-align: center; color: #000; background-color: #ffda3f; font: 300 20px/1.2 FaktSlabPro, Arial, Helvetica, sans-serif }</style>
  <aside class="Ribbon">{{page.announcement}}</aside>
</script>
{% endif %}

