<div id="announcement-banner" style="display: none">
  <div id="announcement-content" data-url="{%if page.announcementUrl%}{{page.announcementUrl}}{%else%}https://docs.telerik.com/kendo-api/announcements{{site.baseurl}}{%endif%}">
  </div>
</div>
{% if page.announcement %}
<script id="announcement-fallback" type="text/fallback-announcement">
  <style>.Ribbon { z-index: 50000; position: relative; padding: 20px 2% 18px; text-align: center; color: #000; background-color: #ffda3f; font: 300 20px/1.2 FaktSlabPro, Arial, Helvetica, sans-serif }</style>
  <aside class="Ribbon">{{page.announcement}}</aside>
</script>
{% endif %}

