<section class="kd-cta-panel">
    <div class="cont">
        <div class="kd-cta kd-cta-large">
            <div class="kd-cta-content-wrapper">
                <div class="kd-cta-image">
                    <img loading="lazy" src="https://demos.telerik.com/blazor-ui/images/site/ninja-cta.svg" alt="blazor ui ninja image">
                </div>
                <div class="kd-cta-title-desc">
                    <h3 class="kd-title kd-cta-title mt-0">New to <span class="js-product">Telerik UI for ASP.NET AJAX</span>?</h3>
                    <div class="kd-cta-desc">
                        <p class="text-small m-0">
                            <a href="https://www.telerik.com/products/aspnet-ajax.aspx" class="kd-link text-bold">Telerik UI for ASP.NET AJAX</a> is professional grade UI library with <span class="js-components">undefined</span> components for building
                            modern and feature-rich <span class="js-type">applications</span>. To try it out sign up for a free 30-day trial.
                        </p>
                    </div>
                </div>
            </div>
            <div class="kd-cta-button-wrapper">
                <a href="https://www.telerik.com/download-trial-file/v2-b/ui-for-asp.net-ajax" class="TK-Button js-cta">Download Free Trial</a>
            </div>
        </div>
    </div>
</section>