<div id="footer" class="container-fluid pt-60 pb-40">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
      <div class="row">
      <div class="col-sm-3 mb-20">
        <h6 class="mt-0 mb-10">{{ site.product}}</h6>
        <ul class="list-unstyled">
          <li><a href="{{site.baseurl}}/">Overview</a></li>
          <li><a href="{{site.baseurl}}/getting-started/">Getting Started</a></li>
          <li><a href="{{site.baseurl}}/components/">Components</a></li>
          <li><a href="{{site.baseurl}}/getting-started/">Install Now</a></li>
          <li><a href="{{site.baseurl}}/release-history/">Release History</a></li>
        </ul>
      </div>

      <div class="col-sm-3 mb-20">
        <h6 class="mt-0 mb-10">Community & Support</h6>
        <ul class="list-unstyled">
          <li><a href="http://www.telerik.com/blogs/kendo-ui" target="_blank">Blogs</a></li>
          <li><a href="http://stackoverflow.com/questions/tagged/kendo-ui-angular2" target="_blank">StackOverflow</a></li>
          <li><a href="{{site.baseurl}}/support/#support-plans">Support Plans</a></li>
          <li><a href="http://kendoui-feedback.telerik.com/forums/555517-kendo-ui-for-angular-2-feedback">Feedback Portal</a></li>
        </ul>
      </div>
      <div class="col-sm-3 mb-20">
        <h6 class="mt-0 mb-10">Get Involved</h6>
        <ul class="list-unstyled">
          <li><a href="https://github.com/telerik/kendo-angular2" target="_blank">GitHub</a></li>
          <li><a href="{{site.baseurl}}/support/#bug-reporting">Report an Issue</a></li>
          <li><a href="http://kendoui-feedback.telerik.com/forums/555517-kendo-ui-for-angular-2-feedback">What Should We Do Next?</a></li>
        </ul>
      </div>
      </div>
      <div class="row copyright">
       <div class="col-sm-4 social-icons">
          <span class="sticky">
            <a class="social-icon" href="https://www.facebook.com/KendoUI" title="">{% include icons/facebook.svg %}</a>
            <a class="social-icon" href="https://twitter.com/KendoUI" title="">{% include icons/twitter.svg %}</a>
            <a class="social-icon" href="https://www.youtube.com/user/kendouiTV/" title="">{% include icons/youtube.svg %}</a>
            <a class="social-icon" href="https://www.linkedin.com/groups/4318756/profile" title="">{% include icons/linkedin.svg %}</a>
          </span>
       </div>
       <div class="col-sm-8">
         <p>Copyright &copy; {{ site.time | date: '%Y' }} Progress Software Corporation and/or its subsidiaries or affiliates.<br /> All Rights Reserved.</p>

         <p>Progress, Telerik, and certain product names used herein are trademarks or registered trademarks of Progress Software Corporation and/or one of its subsidiaries or affiliates in the U.S. and/or other countries. See <a href="https://www.progress.com/legal/trademarks">Trademarks</a> for appropriate markings.</p>
       </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
