<div id="allcontrols-table" class="row">  
  {% for intro_column in site.intro_columns %}
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
    <ul>
    {% for category in intro_column.categories %}
      <li class="control-category">{{ category.title }}</li>
      {% for item in category.items %}
        <li><a href="{% if item[1].isLink == true %}{{ item[1].value }}{% else %}{%slug {{ item[1] }}%}{% endif %}">{{ item[0] }}</a></li>
      {% endfor%}
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
