{% if site.links.demos %}
<li class="nav-button"><a href="{{site.links.demos}}" target="_blank">Demos</a></li>
{% endif %}
{% if site.links.about %}
<li class="nav-button"><a href="{{site.links.about}}" target="_blank">About</a></li>
{% endif %}
{% if site.links.pricing %}
<li class="nav-button"><a href="{{site.links.pricing}}" target="_blank">Pricing</a></li>
{% endif %}
{% if site.links.download %}
<li class="primary-cta"><a href="{{site.links.download}}" target="_blank">Try now</a></li>
{% endif %}
