---
layout: default
---

<div id="navbar" class="nav">
  <a class="mobile-menu all-components" >
      {% include icons/menu.svg %}
  </a>
  {% if site.has_search != false %}
    <div class="global-search">
      {% include search.html %}
    </div>
  {% endif %}
  <div class="switch-btn">
      <span class="switch-icon"></span>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <script>
      {% if site.has_web_api_index == true %}
      navigationItemToExpand = "{{page.url | remove_first: '/' }}";
      {% else %}
      navigationItemToExpand = "{{page.parent_path}}.html";
      {% endif %}
    </script>
  <div class="side-nav col-sm-4 col-md-3 col-lg-2">
      <div id="page-tree"></div>
  </div>
  <div class="content-wrapper col-sm-8 col-sm-offset-4 col-md-offset-3 col-lg-8 col-lg-offset-2">
    <div class="row" style="overflow: hidden;">
      <div class="col-md-10 col-md-offset-1 mb-40">
            {% if site.has_web_api_index != true %}
            <div class="breadcrumbs api-breadcrumbs-container"></div>
            {% endif %}
        {% if page.kind == "api" and page.position != 1 %}
        <article class="api-reference {{page.sub_category}} {{ page.api_type }}">
        {% else %}
        <article>
        {% endif %}

        {% if page.res_type == 'kb' and page.kb_portal_root != true and page.title %}
          <h1>{{ page.title }}</h1>
        {% endif %}
        {{ content }} 
        </article>

        {% if page.enable_prev_next == true %} {% if page.node.prev != null or page.node.next != null %} 
        <div class="row prev-next">
          <div class="col-xs-6 previous">
            {% if page.node.prev != null and page.has_prev != false %}
            {% assign prev_url = page.node.prev.url %}
            <a href="{{site.baseurl}}{{prev_url}}" class="pt-40 pb-40">
                {% include icons/arrow-left.svg %}
                Previous
                <span>
                    {% if page.node.prev.parent != null %}
                        {{page.node.prev.parent.title}} /
                    {% endif %}
                    {{page.node.prev.title}}
                </span>
              </a>
            {% endif %}
          </div>
          <div class="col-xs-6 next">
            {% if page.node.next != null and page.has_next != false %}
            {% assign next_url = page.node.next.url %}
            <a href="{{site.baseurl}}{{next_url}}" class="pt-40 pb-40">
                Next
                {% include icons/arrow-right.svg %}
                <span>
                    {% if page.node.next.parent != null %}
                        {{page.node.next.parent.title}} /
                    {% endif %}
                    {{page.node.next.title}}
                </span>
              </a>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endif %}

      </div>
    </div><!-- /row right content -->
  </div>

  <div class="additional-content-column side-nav-secondary col-md-2 visible-lg">
    {% if page.toc != false %}
    {% include article-toc.html %}
    {% endif %}
    
    {% include related-articles.html %}

    <div class="support-info-area">
      {% unless site.hide_contact_support == true %}
      <span class="additional-info-content">Not finding the help you need?</span>
      <div>
        {% if site.contact_support_url %}
        <a class="btn-contact-support" href='{{ site.contact_support_url }}' target="_blank" onclick="trackItemFromCurrentPage('docs-contact-support', '{{ site.product }}')">Contact Support</a>
        {% else %}
        <a class="btn-contact-support" href='https://www.telerik.com/account/support-center/contact-us/technical-support?supcId={{ site.data.support_products[site.product] }}' target="_blank" onclick="trackItemFromCurrentPage('docs-contact-support', '{{ site.product }}')">Contact Support</a>
        {% endif %}
      </div>
      {% endunless %}
      {% if site.edit_repo_url and page.is_search_page != true and page.editable != false %}
      <a class="btn-edit-article" href="{{ site.edit_repo_url }}/{{ page.parent_path | replace: '.html','' }}.md" target="_blank">
        {% include icons/edit.svg %}
        <span>Improve this article</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
</div>
