<!DOCTYPE html>
<html class="no-js">
   {% include _head.html %}

<body role="document" class="layout-{{ page.layout }} brand">
  {% include _variables.html %}
  {% if page.announcement %}{% include announcement.html %}{% endif %}
  {% include nav.html %}

<div id="content">
  {{ content }}
  <div id="push" class="pt-60 pb-40"></div> <!-- Sticky Footer -->
</div>
{% javascript jquery %}
{% javascript kendo %}
{% javascript main %}
{% if page.is_api %} {% javascript "api" %} {% endif %}
{% if site.enable_dojo == true %} {% javascript "dojo" %} {% endif %}
{% if page.kind == "api" %} {% javascript "api-toc" %}{% endif %}
{% if site.sdk_examples %}{% stylesheet "sdk-browser" %}{% javascript sdk-browser %}{% endif %}
{% include footer.html %}

<script>

  $(".read-prev").hover(function() {
      $(".title-prev").show();
  }, function() {
      $(".title-prev").hide();
  });

  $(".read-next").hover(function() {
      $(".title-next").show();
  }, function() {
      $(".title-next").hide();
  });

  $(".all-components").click(function() {
    ensureNavigationLoaded();

    var showComponentsClassName = 'show-components';
    $(".all-components").toggleClass(showComponentsClassName);
    
    var sideNav = $('.side-nav');
    sideNav.toggleClass(showComponentsClassName);
    if (sideNav.hasClass(showComponentsClassName)) {
      scrollNodeIntoView($('#page-tree').data('kendoTreeView').select());
    }
  });

  $(".api-index").toggleClass(function() {
    return $.grep(
      $(this).find("ul"),
      function(ul) { return $(ul).children().length > 20; }
    ).length > 0 ? "api-columns" : "";
  });

  $(".api-columns > div").addClass("components pb-20 mb-20");

  $(".all-components").click(function() {
    var showComponentsClassName = 'show-components';
    $(".all-components").toggleClass(showComponentsClassName);
    
    var sideNav = $('.side-nav');
    sideNav.toggleClass(showComponentsClassName);
    if (sideNav.hasClass(showComponentsClassName)) {
      scrollNodeIntoView($('#page-tree').data('kendoTreeView').select());
    }
  });

  $(".api-index").toggleClass(function() {
    return $.grep(
      $(this).find("ul"),
      function(ul) { return $(ul).children().length > 20; }
    ).length > 0 ? "api-columns" : "";
  });

  $(".api-columns > div").addClass("components pb-20 mb-20");
  
  $(".read-prev").hover(function() {
      $(".title-prev").show();
  }, function() {
      $(".title-prev").hide();
  });
  $(".read-next").hover(function() {
      $(".title-next").show();
  }, function() {
      $(".title-next").hide();
  });
</script>
{% include _gtm.html %}
 {% javascript "kinvey"%}
</body>
</html>
