---
layout: default
---
{% assign package = page.path | remove:'documentation/' | split:'/' | first %}

<div class="container-fluid">
  <div class="row">
  <div class="side-nav col-sm-3 col-lg-2">
    {% include side-nav.html %}
  </div>
  <div class="content-wrapper col-sm-8 col-sm-offset-4 col-md-offset-3 col-lg-8 col-lg-offset-2">
    <div class="row" style="overflow: hidden;">
      <div class="col-md-10 col-md-offset-1">

        <p class="breadcrumbs">
          {% if site.nested_bread_crumbs %}
            <a href="{{site.baseurl}}/#{{site.nested_bread_crumbs.toc}}">{{site.nested_bread_crumbs.title}}</a> /
          {% endif %}
          {% render_bread_crumbs %}
        </p>

        {% if page.api_reference == true and page.position != 1 %}
        <article class="api-reference">
        {% else %}
        <article>
        {% endif %}
          {{ content }}
        </article>

        {% if page.enable_prev_next == true %} {% if page.node.prev != null or page.node.next != null %} 
        <div class="row prev-next mb-40">
          <div class="col-xs-6 previous">
            {% if page.node.prev != null and page.has_prev != false %}
            {% assign prev_url = page.node.prev.url %}
            <a href="{{site.baseurl}}{{prev_url}}" class="pt-40 pb-40">
                {% include icons/arrow-left.svg %}
                Previous
                <span>
                    {% if page.node.prev.parent != null %}
                        {{page.node.prev.parent.title}} /
                    {% endif %}
                    {{page.node.prev.title}}
                </span>
              </a>
            {% endif %}
          </div>
          <div class="col-xs-6 next">
            {% if page.node.next != null and page.has_next != false %}
            {% assign next_url = page.node.next.url %}
            <a href="{{site.baseurl}}{{next_url}}" class="pt-40 pb-40">
                Next
                {% include icons/arrow-right.svg %}
                <span>
                    {% if page.node.next.parent != null %}
                        {{page.node.next.parent.title}} /
                    {% endif %}
                    {{page.node.next.title}}
                </span>
              </a>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endif %}

      </div>
    </div><!-- /row right content -->
  </div>

  <div class="additional-content-column col-md-2 visible-lg">
    {% if page.toc != false %}
    {% include article-toc.html %}
    {% endif %}
    
    {% include related-articles.html %}

    <div class="support-info-area">
      <span class="additional-info-content">Not finding the help you need?</span>
      <div>
        <a class="btn btn-action" href='https://www.telerik.com/account/support-tickets?pid={{ site.data.support_products[site.product] }}' target="_blank">Contact support</a>
      </div>
      <a class="btn-edit-article" href="{{ site.edit_repo_url }}{{ page.url | replace: '.html','' }}.md" target="_blank">Improve this article</a>
    </div>
  </div>
</div>
</div>

{% if page.api_reference != true or page.position != 1 %}
{% include feedback.html %}
{% endif %}

<script>
    $(".read-prev").hover(function() {
        $(".title-prev").show();
    }, function() {
        $(".title-prev").hide();
    });

    $(".read-next").hover(function() {
        $(".title-next").show();
    }, function() {
        $(".title-next").hide();
    });

    $(".all-components").click(function() {
        $(".all-components").toggleClass("show-components");
        $(".side-nav").toggleClass("show-components");
    });

    $(".api-index").toggleClass(function() {
      return $.grep(
        $(this).find("ul"),
        function(ul) { return $(ul).children().length > 20; }
      ).length > 0 ? "api-columns" : "";
    });

    $(".api-columns > div").addClass("components pb-20 mb-20");
</script>
